.Map {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.Marker {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 2px 2px 2px rgb(0 0 0 / 5%);
  display: block;
  height: 8px;
  width: 8px;
}

.Marker.Blue {
  background-color: #007cbf;
}
